body{
  background-color: rgb(71, 73, 72);
  font-family: "noto sans jp";
 }

.backbar{
  display:flex;
  height: 95px;
  width: 100%;
  
  background-color: rgb(39, 45, 45);
  border-bottom: 10px solid rgb(35, 206, 107);
}

* {margin:0;padding:0;}
