body{
  background-color: rgb(71, 73, 72);
  font-family: "noto sans jp";
 }

.backbar{
  display:flex;
  height: 95px;
  width: 100%;
  
  background-color: rgb(39, 45, 45);
  border-bottom: 10px solid rgb(35, 206, 107);
}

#logo{
	line-height: 115%;
	width: 130px;
	color: rgb(184, 197, 214);
	font-size: 2em;
	text-align: center;
	justify-content: center;
	border-left: 2px dashed rgb(184, 197, 214);
	padding: 7px;
	margin-left: 20px;
}

#returnbutton{
	
}

* {margin:0;padding:0;}
