body{
  background-color: rgb(71, 73, 72);
  font-family: "noto sans jp";
 }

.backbar{
  display:flex;
  height: 95px;
  width: 100%;
  
  background-color: rgb(39, 45, 45);
  border-bottom: 10px solid rgb(35, 206, 107);
}

#logo{
	line-height: 115%;
	width: 130px;
	color: rgb(184, 197, 214);
	font-size: 2em;
	text-align: center;
	justify-content: center;
	border-left: 2px dashed rgb(184, 197, 214);
	padding: 7px;
	margin-left: auto;
}

#returnbutton{
	display:flex;
	height: 89%;
	width:200px;
    
    	margin: 5px 5px 5px 5px;
    	word-wrap: break-word;
	line-height: 115%;
    	font-size: 2.1em;
    	background: rgba(237, 245, 252, 1);
    	border-radius: 2%;
    	padding-right:60px;
	
}

#arrow{
	background: rgb(163, 155, 168);
    	margin-right: 50px;
    	
}

#arrow:before {
	transform: rotate(-90deg);
   	border-bottom: 15px solid rgb(163, 155, 168);
    	border-left: 30px solid transparent;
    	border-right: 30px solid transparent;
    	content: "";
    	position: absolute;
    	top: 37px;
}

.button{

}

#demo{
	width:150px;
	height:50px;
	font-size:1em;
	background-color:red;
}

a:link{
  text-decoration: none;
  display: inline-block;
}

* {margin:0;padding:0;}
